/* @config "../../tailwind.config.js"; */
@import "tailwindcss";

@theme {
  --color-primary: #8B5CF6;
  --color-primary-bg: #7C3AED;
  --color-primary-fg: #D1D5DB;
  
  --color-muted: #9CA3AF;
  --color-muted-bg: #F3F4F6;
  --color-muted-fg: #4B5563;
  
  --color-panel: #4B5563;
  --color-panel-bg: #101828;
  --color-panel-fg: #FFFFFF;
  
  --color-danger: #EF4444;
  --color-danger-bg: #DC2626;
  --color-danger-fg: #FFFFFF;
  
  /* --color-foreground: #D1D5DB;
  --color-foreground-strong: #FFFFFF;
  --color-muted-bg-fg: #4B5563;

  --color-accent: #8B5CF6;
  --color-accent-hover: #7C3AED;

  --color-link: #7C3AED;
  --color-link-hover: #6D28D9;
  
  --color-border: #E5E7EB; */
}

/*
.dark {
  --color-foreground: #9CA3AF;
  --color-foreground-strong: #E5E7EB;

  --color-muted: #6B7280;
  --color-muted-fg: #D1D5DB;
  --color-muted-bg: #111827;
  --color-muted-bg-fg: #D1D5DB;

  --color-accent: #A78BFA;
  --color-accent-hover: #8B5CF6;

  --color-link: #C4B5FD;
  --color-link-hover: #A78BFA;

  --color-primary: #A78BFA;
  --color-primary-hover: #8B5CF6;
  --color-primary-fg: #9CA3AF;

  --color-panel: #1F2937;
  --color-panel-fg: #FFFFFF;
  --color-panel-bg: #101828;

  --color-border: #374151;

  --color-danger: #F87171;
  --color-danger-hover: #EF4444;
  --color-danger-fg: #111827;
}
*/

/* ...existing global rules... */
html, body { height: 100%; }
