@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

html, body {
  font-family: 'Roboto', sans-serif;

  color: #f1db31df;
  background: #181818;

  font-size: 1.6rem;
}

.body {
  display: grid;
  grid-template-rows: max-content 1fr;
}