@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem Vinde!</h1>
    <p>Este será um site para o jogo de RPG entitulado King's Academy!</p>

    <p>Em breve terá mais informações aqui!</p>
</div>
