name: Preview (develop)

on:
  push:
    branches: [ develop ]

jobs:
  build-and-deploy-preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install
        run: npm install

      - name: Build (preview)
        env:
          APP_ENV: "development"
          NEXT_PUBLIC_BASE_PATH: "RPG-Kings/preview/"
        run: |
          npm run build --if-present
          npm run export --if-present || true

      - name: Deploy preview to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./out
          destination_dir: preview/